@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

.container { font-family: sans-serif; }

a { 
  color: #000;
  text-transform: capitalize;
  text-decoration: none; 
}

ul { list-style-type: none; }

.wrapper { 
  max-width: 940px;
  width: 73.09%;
  margin: 0 auto;

}

h2 {
  color: #00b192;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase

}

header  { 
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .1);
}


h1 { 
  padding: 19px 0 16px;
  width: 7.8%;
  display: inline-block; 
}

h1 a { 
  display: inline-block;
  text-indent: -9999px;
}

h1 a img {
  width: 100%;
  float: left;
}


header span { 
  padding-left: 37px;
  display: inline-block;
  vertical-align: bottom: ;
  position: relative;
  color: #fff; 
  font-size: 12px;
}

header span:before {
  content: "\007C";
  margin-right: 15px;
  position: absolute;
  bottom: 0;
  left: 15%;


}

nav { 
  width: 60%;
  display: inline-block;
  float: right;
}

nav ul {
  padding: 19px 0 16px;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;

}


nav ul li { margin-right: 4.5%; }

nav ul li:last-child { margin-right: 0; }

nav ul li a { 
  padding-top: 19px;
  color: #fff; 
  font-size: 12px;
  

}

nav ul li a:hover { border-top:2px solid lightblue ;  }

.banner img{ width: 100%; }

.features {   background-color: #f4f6fa; }

.features .wrapper { padding: 63px 0 43px;}

.features .wrapper >  figure { 
  margin-top: 22px;
  text-align: center; 
}

.features  ul {
  margin-top: 57px; 
  display: flex; 
  justify-content: space-between;

}

.features  ul figure img { width: 100%; }

.features  ul li figure { 
  display: inline-block; 
  vertical-align: top;
}

.features .feature-list {
  width: 70%;
  margin-left: 10px;
  display: inline-block;

}

.features .feature-list h3 { 
  font-size: 18px; 
  font-weight: 900;
}

.feature-list p { 
  margin-top: 15px;
  font-size: 10px; 
  color: rgba(0, 0, 0,0.5);
  text-transform: lowercase;
  line-height: 18px;
}

.features .slider { 
  display: flex;
  justify-content: center;

 }

 .slider li { padding-right: 15px; }

 .works .wrapper { padding-top: 80px; }

.works .wrapper >  figure { 
  margin-top: 22px;
  text-align: center; 
}

.works p { 
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  text-transform: lowercase; 
}

.works .wrapper .tabs {
  display: flex ;
  justify-content: center;
}

.works .wrapper .tabs li { 
  margin: 54px 0 39px;
  margin-right: 3%; 
}

.tabs li a { 
  padding: 5px 10px;
  border-radius: 5px;  
  font-size: 13px;
  font-weight: 900;
}

.tabs li a:hover { 
  background-color: #00b295; 
  color: #fff;
}

.all { width: 100%; }

.all .wrapper {
  padding-top: 0;
  max-width: 1286px; 
  width:  100%; 
}

.all .wrapper ul { 
  display: flex; 
  flex-wrap: wrap;
}

.all .wrapper ul li { 
  width: 25%; 
  position: relative;
}

.all .wrapper ul li img { width: 100%; }

.labore { 
  
}

.labore { 
   width: 100%;
   height: 100%;
  position: absolute; 
  top: 0;
  display: none;
  background-color: #00b398;
  opacity: .9;
  text-align: center;

}

.labore span {
padding-bottom: 11px; 
  display: block; 
  color: #fff;
}

.all .wrapper .labore img { 
  width: 10%; 
  margin: 16% 0 8%; 
}

.all .wrapper ul li:hover .labore { display: block; }

.team .wrapper >  figure { 
  margin: 22px 0 32px;
  text-align: center; 
}

.team .wrapper > p { 
  text-align: center; 
  text-transform: lowercase;
}

.team .wrapper > ul {
  margin-top: 89px;
  display: flex;
  justify-content: space-between;
}

.team .wrapper > ul li { 
  width: 23%; 
  position: relative;
}

.team .wrapper > ul li img { width: 100%; }

.team-detail { 
  height: 100%;
  position: absolute; 
  top: 0;
  background-color: #00b398;
  text-align: center;
} 

.team .slider { 
  display: flex;
  justify-content: center;

 }

 .team-detail span , p{ 
  margin-top: 15px;
  color: #fff; 
  font-size: 12px;

}

.team-detail ul { display: flex; }
